.Admin-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.Admin-right-section {
    position: absolute;
    right: 0;
    left: 18%;
    background-color: #352F44;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.Admin-right-sectionH{
    position: absolute;
    right: 0;
    left: 0;
    background-color: #352F44;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.Admin-left-section {
    flex: .3;
    background-color: #352F44;
    position: fixed;
    top: 0;
    z-index: 4;
}

.Admin-hidden{
    margin-left: -320px;
}

.top-right-section {
    flex: .1;
}

.bottom-right-section {
    /* padding: 20px; */
    flex: .9;
    height: 100vh;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .Admin-left-section,
    .Admin-right-section {
        width: 100%;
        margin-left: 0;
    }
}

.Admin-HomeButton{
    height: 40px;
    width: 80px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.Admin-HomeButton img{
    width: 100%;
}

.Admin-HomeButton:hover{
    color: #a87efc;
}

.LandingPage{
    display: flex;
    flex-direction: column;
}